.row-style {
    margin-bottom: 60px;
    margin-top: 60px;
  }

.top-row-style {
    margin-top: 20px;
}

h1 {
    font-size: 20px;
}

.totalCount h2 {
    padding-top: 60px;
    text-align: center;
    font-size: 50px;
}




